/** positions **/

body {
    width: 100%;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 75px; /* headerheight */
    z-index: 5;
}

.content {
    position: relative;
}

.tiles {
    /*
    position: absolute;
    left: 0;
    */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    /*text-align: center;*/
}
.tiles-wrapper {
    margin-top: 100px; /* headerheight */
    margin-left: auto;
    margin-right: auto;
}

.large {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 75px; /* headerheight */
    width: 100%;
}

.sidebar {
    position: fixed;
    right: 0px;
    margin-top: 75px; /* headerheight */
    width: 60px;
    z-index: 1;
    height: 100%;
}


.tile-element {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.large-element {
    float: left;
    width: 100%;
    height: 500px;
    border-bottom:5px solid #888;
}



/* Text */
body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.thin {
    font-weight: 300;
}
.lowercase {
    text-transform: lowercase;
}
.h1, .h2 {
    font-weight: 300;
    color: #444;
}
.h1 {
    font-size: 23px;
}
.h2 {
    font-size: 18px;
}
.nocolor {
    color: inherit;
}
a, a:visited, a:hover, a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}





/*** concept classes ***/
.initially-gone {
    display: none;
}
.initially-hidden {
    opacity: 0;
}
/* this guy 'inserts' a dummy div after any element with class clearable, and styles it like this */
.clearable:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.animation-layer {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    pointer-events:none; /* This is super important - it makes sure the clicks don't get intercepted by the animation layer*/
}
.block {
}


/** Header **/
.metroname, .links {
    height: 100%;
    line-height: 75px; /* headerheight */
}
.metroname {
    float: left;
    margin-left: 30px;
    margin-right: 22px;
}
.links {
    float: right;
    margin-right: 30px;
}
.resume, .email, .homelink {
    display: inline-block;
    height: 100%;
}
.resume {
    padding-right: 10px;
}
.email {
    padding-left: 10px;
}
header {
    border-bottom: 1px dotted rgba(0,0,0,0.16);
}
.header-wrapper {
    margin: 0 auto;
}

    

/** Tiles **/
.tile-element {
    margin: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 2px;
    border: 15px solid #fff;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.16);
}
.tiles-padding {
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

/** Content **/
.large-wrapper {
    margin: 0 auto;
}
.large-padding {
    margin-left: 30px;
    margin-right: 30px;
}
.large-element {
    background-color: #f1f1f1;
}
.large-selected {
    background-color: #fff;
}


/** sidebar **/
.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
 }
 .sidebar {
    margin-top: 75px; /* headerheight */
    margin-bottom: 75px; /* headerheight */
    overflow: hidden;
    right: 0;
 }
.sidebar-element {
    float: left;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}



/* Media Queries for home screen*/

/* Each tile: 230px
 * 30px padding
 * 15px in between
 */

/* 6 columns and up */
@media (min-width: 0px) { 
    .tiles-wrapper, .header-wrapper, .large-wrapper {
        width: 1535px;
    }
    .sidebar {
    }
    .large-padding {
    }
}
/* 5 columns */
@media (max-width: 1595px) {
    .tiles-wrapper, .header-wrapper, .large-wrapper {
        width: 1286px;
    }
    .sidebar {
    }
}
/* 4 columns */
@media (max-width: 1345px) {
    .tiles-wrapper, .header-wrapper, .large-wrapper {
        width: 1037px;
    }
    .sidebar {
    }
}
/* 3 columns */
@media (max-width: 1095px) {
    .tiles-wrapper, .header-wrapper, .large-wrapper {
        width: 788px;
    }
    .sidebar {
    }
}
/* 2 columns */
@media (max-width: 855px) {
    .tiles-wrapper, .header-wrapper, .large-wrapper {
        width: 539px;
    }
    .sidebar {
        width: 0px;
    }
    .large-padding {
        margin-right: 30px;
    }
}
/* 1 column */
@media (max-width: 594px) {
    .tiles-wrapper {
        width: 285px;
    }
    .header-wrapper, .large-wrapper {
        width: 100%;
    }
    .sidebar {
        width: 0px;
    }
}



/** debug colors **/
body {
    background-color: #f1f1f1;
}
header {  
    background-color: rgba(255,255,255,0); 
    box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.16);
}
.content {
}
.tiles {
}


.sidebar {
}

.sidebar-element {
    background-color: #319;
}

.sidebar-selected {
    background-color: #63A;
}

.tile-element {
    background-color: #008888;
}
