/** positions **/

body {
    width: 100%;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 75px; /* headerheight */
    z-index: 5;
}

.content {
    position: relative;
}

.tiles {
    /*
    position: absolute;
    left: 0;
    */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    /*text-align: center;*/
}
.tiles-wrapper {
    margin-top: 100px; /* headerheight */
    margin-left: auto;
    margin-right: auto;
}

.large {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 75px; /* headerheight */
    width: 100%;
}

.sidebar {
    position: fixed;
    right: 0px;
    margin-top: 75px; /* headerheight */
    width: 60px;
    z-index: 1;
    height: 100%;
}


/* ---------------------------------------------------------- */
/*                                                            */
/* A media query that captures:                               */
/*                                                            */
/* - Retina iOS devices                                       */
/* - Retina Macs running Safari                               */
/* - High DPI Windows PCs running IE 8 and above              */
/* - Low DPI Windows PCs with IE zoomed in                    */
/* - Android hdpi devices and above                           */
/* - Android tvdpi devices, including Google Nexus 7          */
/* - Chrome running on high DPI Macs and PCs                  */
/* - Opera running on high DPI Macs, PCs and mobile devices   */
/*                                                            */
/* Please note that that this code assumes you'll swap a      */
/* 2× version of your images. If you'd like to supply         */
/* finer increments, other thresholds might be appropriate.   */
/*                                                            */
/*                                  @marcedwards from @bjango */
/*                                                            */
/* ---------------------------------------------------------- */
 
@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
 only screen and (-o-min-device-pixel-ratio: 13/10),
 only screen and (min-resolution: 120dpi) {
}




/* Text */
body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.thin {
    font-weight: 300;
}
.lowercase {
    text-transform: lowercase;
}
.h1, .h2 {
    font-weight: 300;
    color: #444;
}
.h1 {
    font-size: 23px;
}
.h2 {
    font-size: 18px;
}
.nocolor {
    color: inherit;
}
a, a:visited, a:hover, a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.link:hover {
    border-bottom: 1px solid #444;
    padding-bottom: 3px;
}





/*** concept classes ***/
.initially-gone {
    display: none;
}
.initially-hidden {
    opacity: 0;
}
/* this guy 'inserts' a dummy div after any element with class clearable, and styles it like this */
.clearable:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.animation-layer {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    pointer-events:none; /* This is super important - it makes sure the clicks don't get intercepted by the animation layer*/
}
.block {
}
/* stops the "Save image?" popup if they press and hold */
.hovertouch {
 -webkit-user-select: none;
 -webkit-touch-callout: none;        
}


/** Header **/
.metroname, .links {
    height: 100%;
    line-height: 75px; /* headerheight */
}
.metroname {
    float: left;
    margin-left: 30px;
    margin-right: 22px;
}
.links {
    float: right;
    margin-right: 30px;
}
.homelink {
    display: inline-block;
    height: 100%;
}
.resume, .email, .slashslash {
    height: 100%;
    display: block;
    float: left;
}
.slashslash {
    padding-right: 10px;
    padding-left: 10px;
}
header {
    background-color: rgba(241,241,241,0.96);
    border-bottom: 1px dotted rgba(0,0,0,0.16);
}
.header-wrapper {
    margin: 0 auto;
    -webkit-transition: width .4s linear;
    -moz-transition: width .4s linear;
    -o-transition: width .4s linear;
    transition: width .4s linear;
}

    

/** Tiles **/
.tiles-padding {
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.tile-element {
    position: relative;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 2px;
    border: 15px solid #fff;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.16);
}
.tile-element-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,153,153,1.0);
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
    
}
.tile-element-text p {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #fff;
    padding: 0 30px;
    vertical-align: middle;
}
.tile-element:hover .tile-element-text, .tile-element.hover_effect .tile-element-text {
    opacity: 1;
}
.tile-element {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.tile-2x1 {
    width: 445px;
    height: 200px;
}
.imagewrapper-1x1, .imagewrapper-2x1 {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
.image-1x1, .imagewrapper-1x1 {
    width: 200px;
    height: 200px;
    width: 100%;
    height: 100%;
}
.image-2x1, .imagewrapper-2x1 {
    width: 445px;
    height: 200px;
    width: 100%;
    height: 100%;
}
.tile-2x1 .imagewrapper-1x1 {
    display: none;
}


/** Content **/
.large-wrapper {
    margin: 0 auto;
}
.large-padding {
    margin-left: 0px;
    margin-right: 0px;
}
.large-element {
    background-color: #f1f1f1;
    position: relative;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.large-selected {
    background-color: #fff;
}
.large-element{
    border-bottom: 1px solid #afafaf;
}
.shadowbefore, .shadowafter {
    display:block;
    height: 10px;
    width: 100%;
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.shadowbefore {
    top: 0px;
    margin-top: -10px;
    background: url(../images/shadowtop.png) no-repeat center center ;
    background-size: 100% 100%;
}
.shadowafter {
    bottom: 0px;
    margin-bottom: -10px;
    background: url(../images/shadowbottom.png) no-repeat center center ;
    background-size: 100% 100%;
}
.large-element {
    width: 100%;
}
.large-element-inner {
    min-height: 300px;
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
}
.large-display-wrapper {
    width: 100%;
    text-align: center;
}
.large-display {
    max-width: 100%;
    display: block; /* makes useless the text-align: center; above, but whatever */
}
.display-video {
    height: 0;
    padding-top: 0px;
    padding-bottom: 67.5%;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}
.display-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.display-title, .display-text {
    padding: 0px 15px;
    margin: 0px;
}
.display-title {
    font-weight: 300;
    margin-top: 19px;
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 26px;
    color: #444;
}
.display-text {
    font-size: 13px;
    line-height: 18px;
    color: #444;
}

.display-text a {
    color: #009999;
}
.display-text a:hover {
    color: #009999;
    text-decoration: none;
    border-bottom: 1px solid #009999;
    padding-bottom: 2px;
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; position: relative;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 42px; height: 46px; margin: -30px 0 0; display: block; background: url(../images/arrownext1.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 2; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-image: url(../images/arrownext1.png); right: -36px; }
.flex-direction-nav .flex-prev {background-image: url(../images/arrowback1.png); left: -36px; }
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-control-nav {width: 100%; position: absolute; top: -24px; text-align: center;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; background: #666; background: rgba(0,0,0,0.2); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,153,153,0.5); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,153,153,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/****************************** end flexslider ******************************************************/


/** sidebar **/
.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
 }
 .sidebar {
    margin-top: 90px; /* headerheight + 15 padding */
    margin-bottom: 75px; /* headerheight */
    overflow: hidden;
    right: 0;
    padding-right: 15px;
 }
.sidebar-element {
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    background: #fff;
}
.sidebar-image {
    position: absolute;
    left: 0px;
    top: 0px;
}
.sidebar-element .sidebar-image {
    opacity: 0.7;
}
.sidebar-selected .sidebar-image {
    opacity: 1.0;
}
.sidebar-element:hover .sidebar-image {
    opacity: 0.9;
}



/* Media Queries for home screen*/

/* Each tile: 230px
 * 30px padding
 * 15px in between
 */

/* 6 columns and up */
@media (min-width: 0px) { 
    .tiles-wrapper, .header-wrapper {
        width: 1270px;
    }
    .large-wrapper {
        width: 100%;
    }
    .sidebar {
    }
    .large-element-inner {
        padding-top: 45px;
        padding-right: 90px;
        padding-left: 90px;
        padding-bottom: 45px;
    }
}
/* 5 columns */
@media (max-width: 1595px) {
    .tiles-wrapper, .header-wrapper {
        width: 1270px;
    }
    .sidebar {
    }
}

/* 4 columns */
@media (max-width: 1345px) {
    .tiles-wrapper, .header-wrapper {
        width: 1025px;
    }
    .sidebar {
    }
}
/* 3 columns */
@media (max-width: 1095px) {
    .tiles-wrapper, .header-wrapper {
        width: 780px;
    }
    .sidebar {
    }
}

@media (max-width: 900px) {
    .large-element-inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .flex-control-nav {
        top: -24px;
    }
}

/* 2 columns */
@media (max-width: 855px) {
    .tiles-wrapper, .header-wrapper {
        width: 535px;
    }
}


/* 2 columns, but where the height is at least as tall as the width */
@media (max-width: 855px) and (max-height: 700px) {
    /* Hide the side bar */
    .sidebar {
        width: 0px;
        padding: 0px;
    }
    .large-element-inner {
        padding: 30px;
    }
    /*******************/
}

/* 1 column */
@media (max-width: 595px) {
    .tiles-wrapper {
        width: 285px;
    }
    .large-wrapper {
        width: 100%;
    }
    .large-padding {
        margin-right: 0px;
    }
    .tile-2x1 {
        width: 200px;
    }
    .imagewrapper-2x1 {
        display: none;
    }
    .tile-2x1 .imagewrapper-1x1 {
        display: block;
    }
    /* Hide the side bar */
    .sidebar {
        width: 0px;
        padding: 0px;
    }
    .large-element-inner {
        padding: 30px;
    }
    /*******************/
}
/* 1 column - not including margins */
@media (max-width: 535px) {
    .header-wrapper {
        width: 100%;
    }
}

/* phone stuff for the header
 * Also handled in javascript.
 * this is just a backup
 */
@media (max-width: 320px) {
    .metroname {
        margin-left: 26px;
        margin-right: 22px;
        font-size: 20px;
    }
    .links {
        margin-right: 26px;
    }
    .slashslash {
        padding-left: 7px;
        padding-right: 7px;
    }
    .h1 {
        font-size: 20px;
    }
    .h2 {
        font-size:16px;
    }
}








/** debug colors **/
body {
    background-color: #f1f1f1;
}
header {  
    background-color: rgba(255,255,255,0); 
    box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.16);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.tile-element {
    background-color: #008888;
}


